*{
  margin: 0;
  padding: 0;
}
:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}

.div {
  /* border-radius: 6px; */
  border: border-box;
  /* border: 1px solid transparent; */
  background-color: var (--line-clr);
  max-width: 390px;
  min-width: 380px;
  padding: 20px 10px 20px 10px;
  display: flex ;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* flex-direction: column; */

    label {
      margin-top: .3rem;
      min-width: 380px;
      max-width: 100%;
      display: flex ;
      text-align: left;
      justify-content: space-between;
      margin-bottom: .1rem;
    }

    input {
      gap: 1;
      border-radius: 6px;
      min-width: 380px;
      max-width: 100%;
      height: 2rem;
      display: flex ;
      text-align: left;
      text-indent: 1rem;
      justify-content: space-between;
      margin-bottom: .3rem;
      /* margin-bottom: .9rem; */
      
    }
    button {
      border-radius: 8px;
      width: 100%;
      margin-top: .5rem;
      color: #000000;
  
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: var(--secondary-text-clr);    cursor: pointer;
      transition: border-color 0.25s;
    }

  }



/* .label {
  background-color: #ff845e;
}
.input {

} */




 