//  o arquivo CSS com a extensao ".module" impede que o css
//  vaze para outros modulos a nao ser que seja importado o estilo/styles

.meuTitulo{
    color: hsl(141, 85%, 51%);
    font-weight: 800;
    background-color: brown;
}