.navbar_custom {

    -webkit-box-shadow  : 0 8px 2px -6px #999;
    -moz-box-shadow     : 0 8px 2px -6px #999;
    box-shadow          : 0 8px 2px -6px #999;

    /* the rest of your styling */
  /* background-color: var(--clr-base-dark); */
  /* color: var(--clr-text ); */
    /* -webkit-box-shadow: 10px 20px 20px #FC0; */
    /* -moz-box-shadow:    10px 20px 20px #FC0; */
    /* box-shadow:         4px 2px 4px rgb(76, 61, 163); */
    /* box-shadow:         4px 2px 4px rgb(81, 25, 158); */
    z-index:999;

    margin: 0px;
    padding: 0px;

  a {
    color: var(--clr-text);
  }
  p {
    color: var(--clr-text);
  }
  h1 {
    color: var(--clr-text);
  }
  .text {
    color: var(--clr-text);
  }
  .text:hover {
    color: var(--clr-laranja);
  }

  .link {
    text-decoration: none;
    color: var(--clr-text);
    /* color: wheat; */
    margin: 0px 10px;
    /* color: var(--clr-text ); */
  }
  /* hover no texto do menu */
  .link:hover {
    color: var(--clr-laranja);
    text-decoration: underline;
  }
  /* alterando cor no texto Visitante/Login */
  .login {
    color: var(--clr-text);
    padding: 0.5em;
  }
  /* hover no texto Visitante/Login */
  .login:hover {
    color: var(--clr-laranja);
    text-decoration: underline;
    /* color: var(--clr-laranja); */
    /* color: var(--clr-text ); */
  }
  

  .navbar_toggler {
    border-color:   var(--clr-text);
    fill:           var(--clr-text);
    color:          var(--clr-text);
    stroke:         rgba(233, 14, 14, 0.5);
    color: white;
    border-color: lightgreen;
  } 

}

