.navbar_custom {
  /* background-color: var(--clr-base-dark); */
  /* color: var(--clr-text ); */

  a {
    color: var(--clr-text);
  }
  p {
    color: var(--clr-text);
  }
  h1 {
    color: var(--clr-text);
  }
  .text {
    color: var(--clr-text);
  }
  .text:hover {
    color: var(--clr-laranja);
  }

  .link {
    text-decoration: none;
    color: var(--clr-text);
    /* color: wheat; */
    margin: 0px 10px;
    /* color: var(--clr-text ); */
  }
  /* hover no texto do menu */
  .link:hover {
    color: var(--clr-laranja);
    text-decoration: underline;
  }
  /* alterando cor no texto Visitante/Login */
  .login {
    color: var(--clr-text);
    padding: 0.5em;
  }
  /* hover no texto Visitante/Login */
  .login:hover {
    color: var(--clr-laranja);
    text-decoration: underline;
    /* color: var(--clr-laranja); */
    /* color: var(--clr-text ); */
  }
  



}

