:root {
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
  }
  .navbar{
    background-color: #11121a;
    
    padding: 4px 10px 4px 10px;
    color: white;
    display: flex ;
    justify-content: space-around;
    height:  auto;
    /* align-items: center; */
    
    text-color : #e6e6ef;
    gap:1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    

}


.link{
    color: #e6e6ef;
    text-decoration: none;
    margin: 10px 10px ;

}

.link:hover{
    text-decoration: underline;
    color:rgb(224, 229, 253);
}

